@use '../../../styles/abstract/' as a;

.newsLetter {
  width: 100%;
  max-width: a.rem(750);
  min-height: 60vh;
  margin-top: 2.8rem;
  padding-inline: a.$padding-small;
  z-index: 2;

  @include a.breakpoint(tablet) {
    margin-top: 5rem;
    min-height: 60vh;
  }

  &__form {
    width: 100%;
    height: 100%;
    @include a.centerItem;
    align-items: flex-start;
    flex-direction: column;
  }

  &__formGroup {
    @include a.centerItem;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    margin-top: 0.5rem;
    @include a.breakpoint(tablet) {
      gap: 0.6rem;
      margin-top: 0.5rem;
    }
  }

  &__button {
    width: 100%;
    height: 3.3rem;
    @include a.centerItem;
    border: none;
    outline: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: a.rem(10);
    background: var(--primaryBlack);
    font-size: a.rem(17);
    font-weight: a.weight(bold);
    color: var(--primaryWhite);
    cursor: pointer;
    @include a.breakpoint(tablet) {
      height: 3.5rem;
      margin-top: 1rem;
    }

    &[disabled] {
      opacity: 0.7;
    }
  }

  &__errorMessage {
    display: block;
    margin-left: auto;
    color: rgb(172, 3, 3);
    font-size: a.rem(12);
    font-weight: a.weight(regular);
  }

  &__loadingContainer {
    height: 3.1rem;
    width: 3.1rem;
    @include a.centerItem;
    @include a.breakpoint(tablet) {
      height: 3.3rem;
      width: 3.3rem;
    }
  }

  &__responseMessage {
    margin-block: 0;
    padding: 0.5rem;
    width: 100%;
    height: 2.8rem;
    border-radius: 3px;
    text-transform: capitalize;
    @include a.centerItem;
    justify-content: flex-start;
  }

  &__responseIcon {
    display: block;
    height: 2.1rem;
    width: 2.1rem;
    margin-right: 0.4rem;
  }
}

.success {
  color: rgb(24, 184, 24);
  background-image: linear-gradient(
    to right,
    rgb(167, 234, 167),
    rgb(255, 255, 255)
  );
}

.error {
  color: rgb(172, 3, 3);
  background: rgb(252, 222, 222);
}
