@use '../../../../styles/abstract/' as a;

.content {
  width: 100%;
  height: 100%;
  @include a.centerItem;
  flex-direction: column;

  &__sliderImage {
    height: 85%;
    width: 85%;

    @include a.breakpoint(tablet) {
      height: 100%;
      width: 100%;
    }
  }

  &__textContainer {
    margin-top: 1rem;
    font-size: 1.1;
    letter-spacing: 0.05rem;
  }

  &__slidertext2 {
    font-weight: a.weight(bold);
    color: var(--primaryGreen);
    margin-top: -0.3rem;

    @include a.breakpoint(desktop) {
      font-size: 1.1rem;
    }
  }
}
