@use '../../../styles/abstract/' as a;

.socialIconsContainer {
  min-height: 2rem;
  min-width: 6rem;
  @include a.centerItem;
  flex-direction: row;
  gap: 0.8rem;

  @include a.breakpoint(tablet) {
    flex-direction: column;
    gap: 0.7rem;
    min-height: 6rem;
    min-width: 2rem;
  }

  &__socialsContainer {
    height: 1.9rem;
    width: 1.9rem;
    overflow: hidden;
    // transform: rotate(0);
    // @include a.breakpoint(tablet) {
    //   transform: rotate(90deg);
    // }
  }

  &__noRotate {
    overflow: hidden;
    transform: rotate(0deg);
    @include a.breakpoint(tablet) {
      transform: rotate(0deg);
    }
  }

  &__socialIcon {
    height: 1.8rem;
    width: 1.8rem;
    transition: transform 0.35s ease;
    padding-block: 0.2rem;
    cursor: pointer;
    &_1 {
      transform: translateY(0%);
    }
    &_2 {
      transform: translateY(0%);
    }
  }

  &__socialsContainer:hover &__socialIcon {
    &_1 {
      transform: translateY(-100%);
    }
    &_2 {
      transform: translateY(-100%);
    }
  }
}

.rowOnly {
  flex-direction: row;
  @include a.breakpoint(tablet) {
    flex-direction: row;
  }
}
